.side-bar {
    width: fit-content;
    height: 100%;
    min-height: 100vh;
    margin-top: 4.5rem;
    width: 426px;
}

.side-bar .tools {
    position: fixed;
    background: #f5f5f5;
    width: 426px;
}

.products {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    padding: 45px;
    gap: 2rem;
}

.products-card {
    position: relative;
    transition: all .40s;
}

.products img {
    width: 100%;
    height: auto;
    transition: all .40s;
}

.products img:hover {
    transform: scale(0.9);
}
.content{
    display: flex;
}

.inicial-imagem img{
    
}